<p id="notice"><%= notice %></p>

<h1>Scaffolding2 Items</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scaffolding2_items.each do |scaffolding2_item| %>
      <tr>
        <td><%= scaffolding2_item.description %></td>
        <td><%= link_to 'Show', scaffolding2_item %></td>
        <td><%= link_to 'Edit', edit_scaffolding2_item_path(scaffolding2_item) %></td>
        <td><%= link_to 'Destroy', scaffolding2_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaffolding2 Item', new_scaffolding2_item_path %>
